<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="/static/style2.CSS">
</head>
<body >
    
    
	<div class="welcome">
		<div class="container">
			<!-- <div class="Search">
				<input type="text" class="Search-box" placeholder="Search"/>
				<button class="Search-button"></button>

			</div> -->
		<div class="Square">
			<ul>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>

		<div class="circle">
			<ul>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
		
		<div class="left-side">
			
			<div class="menu">
			
		    
				<span>&#9776;</span>
				<ul>
					<li><a href="#how-to-use">How to Use</a></li>
					<li><a href="/generate_certificate">Generate Certification</a></li>
					<li><a href="/mail-status">Status</a></li>
					<li><a href="/signup">LogOut</a></li>
				</ul>
			</div>
			
		</div>
		<div class="right-side">
			<!-- <div class="logo">
				<img src="logo.png" alt="Company Logo">
			</div> -->
			<div class="nav">
				<ul>
					
					<li><a href="#home">Home</a></li>
					<li><a href="#about-us">About Us</a></li>
					<li><a href="#contact-us">Contact Us</a></li>
					<li><a href="/signup" class="signup-btn">Sign Up</a></li>
				</ul>
			</div>
		</div>
	 </div>
  </div>	
</body>
</html>

